{{ if ne .Params.comments false}}

	<!-- 来必力City版安装代码 -->
	<div id="lv-container" data-id="city" data-uid="MTAyMC8zMTA1MS83NTk5">
		<script type="text/javascript">
	   (function(d, s) {
	       var j, e = d.getElementsByTagName(s)[0];

	       if (typeof LivereTower === 'function') { return; }

	       j = d.createElement(s);
	       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
	       j.async = true;

	       e.parentNode.insertBefore(j, e);
	   })(document, 'script');
		</script>
	<noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
	</div>
	<!-- City版安装代码已完成 -->

	{{ if .Site.DisqusShortname }}

		<!-- 谨以此地致谢曾经使用的多说评论框！ -->

		<!-- 多说评论框 start page.source-->
		<!-- <div style="font-weight:bold;" class="ds-thread" data-thread-key="{{ (substr .Permalink (len .Site.BaseURL)) }}" data-title="{{ .Title }}" data-url="{{ .Permalink }}"></div> -->
		<!-- 多说评论框 end -->
		<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
		<!-- <script type="text/javascript">
		 var duoshuoQuery = {short_name:'{{ .Site.DisqusShortname }}'};
		   (function() {
		     var ds = document.createElement('script');
		     ds.type = 'text/javascript';ds.async = true;
		     ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		     ds.charset = 'UTF-8';
		     (document.getElementsByTagName('head')[0]
		      || document.getElementsByTagName('body')[0]).appendChild(ds);
		   })();
		</script> -->
		<!-- 多说公共JS代码 end -->

		<!-- 网易云跟帖 -->
		<!-- <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
		<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
		<script>
		var cloudTieConfig = {
		  url: "{{ .Permalink }}", 
		  sourceId: "{{ (substr .Permalink (len .Site.BaseURL)) }}",
		  productKey: "03e9c91e167041d1b178a1410597b391",
		  target: "cloud-tie-wrapper"
		};
		var yunManualLoad = true;
		Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
		</script> -->
	{{ end }}
{{ end }}
