<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        {{ $currentNode := . }}

        {{ range .Site.Menus.main }}
            {{.Pre}}
            <li class="nav-opened{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .)}} nav-current{{end}}" role="presentation">
            	<a href="{{.URL}}">{{.Name}}</a>
            </li>
        {{end}}

        <li class="nav-opened" role="presentation"><a href=""></a></li>
        <li class="nav-opened" role="presentation"><a href="{{ .Site.BaseURL }}tags/algorithm/">tags/algorithm</a></li>
        <li class="nav-opened" role="presentation"><a href="{{ .Site.BaseURL }}tags/android/">tags/android</a></li>
        <li class="nav-opened" role="presentation"><a href="{{ .Site.BaseURL }}tags/python/">tags/python</a></li>
        <li class="nav-opened" role="presentation"><a href="{{ .Site.BaseURL }}tags/java/">tags/java</a></li>
        <li class="nav-opened" role="presentation"><a href="{{ .Site.BaseURL }}tags/dev/">tags/dev</a></li>
        <li class="nav-opened" role="presentation"><a href="{{ .Site.BaseURL }}tags/life/">tags/life</a></li>
    </ul>

    <!-- <h3 class="nav-title-tag">Tags</h3> -->
    <!-- <ul>
        <li class="nav-opened" role="presentation"><a href="{{ .Site.BaseURL }}tags/android/">android</a></li>
        <li class="nav-opened" role="presentation"><a href="{{ .Site.BaseURL }}tags/python/">python</a></li>
        <li class="nav-opened" role="presentation"><a href="{{ .Site.BaseURL }}tags/algorithm/">algorithm</a></li>
        <li class="nav-opened" role="presentation"><a href="{{ .Site.BaseURL }}tags/java/">java</a></li>
        <li class="nav-opened" role="presentation"><a href="{{ .Site.BaseURL }}tags/dev/">dev</a></li>
        <li class="nav-opened" role="presentation"><a href="{{ .Site.BaseURL }}tags/life/">life</a></li>
    </ul> -->

    {{ if .Site.Params.RSSLink}}
        <a class="subscribe-button icon-feed" href="{{.Site.Params.RSSLink }}">Subscribe</a>
    {{else}}
        <a class="subscribe-button icon-feed" href="{{if .IsNode}}{{.RSSLink}}{{else}}{{ .Site.BaseURL }}index.xml{{end}}">Subscribe</a>
    {{end}}
</div>
<span class="nav-cover"></span>
