<aside class="read-next">
  {{ with .Next }}
      <span class="readmore-prev readmore-meta">PREV: <a href="{{ .RelPermalink }}"><h4>{{.Title}}</h4></a></span>
      <!-- <a class="read-next-story" style="{{ if .Params.image }}background-image: url({{ .Site.BaseURL }}{{ .Params.image }}){{ else }}no-cover{{ end }}" href="{{ .RelPermalink }}">
          <section class="post">
              <h2>{{.Title}}</h2>
          </section>
      </a> -->
  {{ end }}

  {{ with .Prev }}
      <span class="readmore-next readmore-meta">NEXT: <a href="{{ .RelPermalink }}"><h4>{{.Title}}</h4></a></span>
      <!-- <a class="read-next-story prev" style="{{ if .Params.image }}background-image: url({{ .Site.BaseURL }}{{ .Params.image }}){{ else }}no-cover{{ end }}" href="{{ .RelPermalink }}">
          <section class="post">
              <h2>{{.Title}}</h2>
          </section>
      </a> -->
  {{ end }}
</aside>
<br/>
